// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

// .font-11{ font-size: 11px; }
.font-12{ font-size: 12px; }
// .font-13{ font-size: 13px; }
.font-14{ font-size: 14px; }
.font-15{ font-size: 15px; }
.font-16{ font-size: 16px; }
// .font-17{ font-size: 17px; }
// .font-18{ font-size: 18px; }
// .font-19{ font-size: 19px; }
// .font-20{ font-size: 20px; }
// .font-22{ font-size: 22px; }
// .font-24{ font-size: 24px; }
// .font-36{ font-size: 36px; }

.font-0875r{ font-size: 0.875rem; }
.font-1r{ font-size: 1rem; }
.font-1dot25r{ font-size: 1.25rem; }
.font-1dot3r{ font-size: 1.3rem; }
.font-1dot5r{ font-size: 1.5rem; }

// .sec-title-bold {
//   color: var(--pg-title-color);
//   font-size: 1rem;
//   font-weight: 600;
// }

// .sec-desc {
//   color: var(--sec-title);
//   font-size: 0.85rem;
// }